<template>
  <dev class="container">
    <div class="row" v-for="index in numBlock" :key="index">
      <div v-for="indexCol in 3" :key="indexCol" class="col">
        <NewsBlock
          :content=contentDatas[indexCol].content
          :title=contentDatas[indexCol].title
          :update=contentDatas[indexCol].contentUpdateDate
        />
      </div>
    </div>
  </dev>
</template>

<script lang="ts">
import newsBlock from './news_block.vue'
import newsConent from '../static/news_conent'
import Vue from 'vue'

export default Vue.extend({
  components: {
    newsBlock
  },
  mounted:function() {
  },
  props: {
    numBlock: {
      type: Number,
      required: true
    }
  },
  data(){
    return{
      contentDatas: newsConent.contentDatas
    }
  }
})
</script>

<style type="scss">
.content {
  margin: 0 20px 0;
}
</style>