<template>
  <div class="row">
    <div class="header-section col-sm-2">
      <img src="../assets/images/logo.png" class="img-fluid" alt="logo" width="120" height="120">
    </div>
    <div class="menu-section col-sm">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">News</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
})
</script>

<style type="scss">
.header-section {
  padding-left: 20px;
}
.menu-section {
  margin-left: 80px;
  padding-top: 3%;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
</style>>