<template>
  <div class="block">
    <div class="container">
      <div class="row">
        <div class="col title-section">
          {{title}}
        </div>
      </div>
      <div class="row">
        <div class="col images-section">
          <img src="../assets/images/content.jpeg" class="img-fluid" alt="logo" height="160">
        </div>
      </div>
      <div class="row">
        <div class="col content-section">
            {{content}}
        </div>
      </div> 
      <div class="row">
        <div class="col footer-section">
            Update: {{update}}
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    title: {
      type: String,
      default: "Title"
    },
    content: {
      type: String,
      default: ""
    },
    update: {
      type: String,
      default: ""
    }
  }
})
</script>

<style type="scss">
.title-section {
  padding-top: 20px;
}
.images-section {
  padding: 10px 10px 10px;
}
.content-section {
  padding: 10px 10px 10px;
  height: 200px;
  display:table;
}
.footer-section {
  padding: 10px 10px 10px;
}
</style>