<template>
  <dev class="container">
    <div class="row">
      <Header/>
    </div>
    <div class="row">
      <Content 
      :numBlock=2
      />
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
    </div>
  </dev>
</template>

<script lang="ts">
import Vue from 'vue'
import header from '../components/header.vue'
import content from '../components/content.vue'

export default Vue.extend({
  components: {
    header,
    content
  }
})
</script>

<style type="scss">
body {
  align-content: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}
</style>